.teams {
  h2 {
    text-align: center;
    margin: 0 0 15px;
  }
  ul {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    width: 300px;
    li {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $black;
      color: $white;
      margin-bottom: 15px;
      border-radius: 5px;
      font-weight: bold;
      &:hover {
        background: $lime;
        color: $black;
        border: 5px solid $black;
        cursor: pointer;
      }
      &.active {
        background: $lime;
        color: $black;
      }
    }
  }
}

.create-team {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  h3 {
    margin: 0;
  }
  form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    input {
      margin: 15px 0 30px;
      text-align: center;
      border: 5px solid $black;
      border-radius: 5px;
      height: 60px;
      width: 300px;
    }
  }
  small {
    margin-top: 15px;
    color: $mid;
    cursor: pointer;
  }
}
